<ul [ngSwitch]="person">
    <li *ngSwitchCase="'Mohan'">Hello Mohan</li>
    <li *ngSwitchCase="'Sohan'">Hello Sohan</li>
    <li *ngSwitchCase="'Vijay'">Hello Vijay</li>
    <li *ngSwitchDefault>Bye Bye</li>
  </ul> 
  
  <!--<div [ngSwitch]="myDir">
      <b *ngSwitchCase="dirEnum.East">East Direction</b>
      <b *ngSwitchCase="dirEnum.West">West Direction</b>
      <b *ngSwitchCase="dirEnum.North">North Direction</b>
      <b *ngSwitchCase="dirEnum.South">South Direction</b>
      <b *ngSwitchDefault>No Direction</b>
    </div> --> 